{
    "skip_download": false,
    "limit": false,
    "database": {
        "uri": "my.mysql.server.lan",
        "name": "registrations",
        "username" : "my_username",
        "password" : "my_clear_text_password"
    },
    "localdb_mode" : "memory"
}